<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
<div layout:fragment="content">
    <h1>Repository list</h1>
    <div class="success" th:unless="${error}">
    <table class="info_table">
        <tr>
            <th>Repository</th>
            <th>Tags</th>
        </tr>

        <tr th:each="item : ${repositories.repositories}">
            <td th:text="${item}"></td>
            <td><a href="" th:href="@{/catalog/tags/{/item}(item=${item})}">View tags</a></td>
        </tr>
    </table>

    <ul class="bottom_menu">
        <li><a th:href="@{'/catalog/list'}">First</a></li>
        <li><a th:if="${repositories.repositories.size()>0}" th:href="@{/catalog/list/{/repo}(repo=${repositories.repositories[repositories.repositories.size()-1]})}">Next</a></li>
    </ul>
    </div>

    <div th:if="${error}" th:text="${'Connection error: ' + error}" class="error_box"></div>
</div>
</body>
</html>
