<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<body>
<div layout:fragment="content">
    <h1>Connect to Docker registry</h1>
    <form action="#" th:action="@{/}" th:object="${settings}" method="post" id="connect_form">
        <table id="connect_form_table">
            <tr>
                <td>URL: </td>
                <td><input type="text" th:field="*{url}"/></td>
                <td th:if="${#fields.hasErrors('url')}" th:errors="*{url}" class="formvalidation"></td>
            </tr>
            <tr>
                <td>Trust insecure registry: </td>
                <td><input type="checkbox" th:field="*{insecure}"/></td>
                <td th:if="${#fields.hasErrors('insecure')}" th:errors="*{insecure}" class="formvalidation"></td>
            </tr>
            <tr>
                <td>Use authentication: </td>
                <td><input id="use_authentication_button" type="checkbox" th:field="*{useAuthentication}"/></td>
                <td th:if="${#fields.hasErrors('useAuthentication')}" th:errors="*{useAuthentication}" class="formvalidation"></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><input id="username_field" type="text" th:field="*{username}" disabled="disabled"/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="formvalidation"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input id="password_field" type="password" th:field="*{password}" disabled="disabled"/></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="formvalidation"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Connect"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>